<!DOCTYPE html>
<html>

<head>
	<title>Million Songs Dataset</title>
	<script type="text/javascript" src="/static/scripts/artists.js"></script>
</head>

<body>
	<h1>ARTISTS</h1>
	<form>
		Artist Name: <input type="text" name="artistName"><br>
		Genre: <input type="text" name="genre"><br>
		Sort: 
			<select name="sort">
				<option value=''>No sort</option>
				<option value="hotness">Hotness</option>
				<option value="familiarity">Familiarity</option>
			</select>
			<br>
		Page: <input type="number" name="page" min="1"><br>
		<input type="button" value="Submit" 
			onclick="showTable(artistName.value, genre.value, sort.value, page.value);">
	</form>
	<p id="resultTable">[]</p>
</body>
</html>