{% extends 'home.html' %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/table.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/songs.js') }}"></script>
{% endblock %}

{% block content %}
<h1>SONGS</h1>
<form>
	Genre: <input type="text" name="genre"><br>
	Release ID <input type="number" name="releaseId"><br>
	Artist ID <input type="text" name="artistId"><br>
	Year: <input type="number" name="year"><br>
	Sort: 
		<select name="sort">
			<option value=''>No sort</option>
			<option value="hotness">Hotness</option>
		</select>
		<br>
	Page: <input type="number" name="page" min="1"><br>
	<input type="button" value="Submit" 
		onclick="songsTable(genre.value, releaseId.value, artistId.value, year.value, sort.value, page.value);">
</form>
<p id="resultTable">[]</p>
{% endblock %}